body{
	font-family: Arial;
	margin: 0px;
}

.containers{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}
.item{
	grid-column: 1/4;
}
.hearder{
	grid-column: 1/4;
}
.menu{
	grid-column: 2/3;
}
.align{
	grid-column: 1/4;
}
.content{
	grid-column: 2/3;
	

}
.groups-list{
	grid-column: 2/3;
}
.Categpries{
	grid-column: 2/3;
}