.list-group-near{
	display: flex;
	justify-content: space-between;

}
.group-near:hover{
	transition: 0.5s;
	transform: translate(0px,-1px);
	box-shadow: 3px 3px 10px #DDD;
}
.groups-list .title-group{
	margin: 2em 0 1em 0;
}
.content-groups{
	border: 1px solid #DDD;
	width:300px;
	height: 328px;
	border-radius: 10px;
}

.image-group {
	
	width: 100%;
	height: 140px;
	background-color:#888;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	
}
.content-groups .infomation{
	padding:   1em 1em;
}

.content-groups .category{
	color: #777;
	font-size: 15px;
	padding: 0 0 1em 0;
	font-weight: bold;
}
.content-groups .adress-group{
	font-weight: bold;
	height: 56px;
}
.content-groups .adress-group+div{
	color: #AAA;
	padding:  1em 0;

}